{% include base_path %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <details class="experience-item">
      <summary class="experience-summary">
        <span class="experience-arrow"></span>
        <span class="experience-title" itemprop="headline">{{ title }}</span>
        {% if post.venue %}
          <span class="experience-meta">
            {{ post.venue }}{% if post.location %}, {{ post.location }}{% endif %}{% if post.date %}, {{ post.date | date: "%b %Y" }}{% endif %}
          </span>
        {% endif %}
      </summary>
      <div class="experience-content">
        {{ post.content }}
      </div>
    </details>
  </article>
</div>
