{% include base_path %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <details class="news-item">
      <summary class="news-summary">
        <span class="news-arrow"></span>
        <span class="news-title" itemprop="headline">{{ title }}</span>
      </summary>
      <div class="news-content">
        {% if post.date %}
          <p class="news-date"><strong><i class="fa fa-fw fa-calendar" aria-hidden="true"></i></strong> <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %d, %Y" }}</time></p>
        {% endif %}
        {{ post.content }}
      </div>
    </details>
  </article>
</div>
